/* app css stylesheet */


.panel-header, .panel-header a, .modal-header, .close, .btn{
    background-color: rgb(95, 162, 221);
    color: white !important;
    font-size: 16px;
}
.panel-default {
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-color: #ddd;
}
.btn-default:hover {
  background-color: rgb(87, 149, 203);
}

.modal-header{
    text-align: center;
}

.navbar{
    border-radius:0px;
    border:0px;
}
nav>.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-inverse {
    background-color: #404040;
}
.navbar-inverse .navbar-nav>.active>a{
    background-color: #303030;
    padding-left: 24px;
    padding-right: 24px;
}
.navbar-nav>li>a{
    padding-bottom:14px;
    line-height: 50px;
}
.navbar-header, .navbar-nav>li>a{
    padding-top: 25px;
    padding-bottom: 25px;
    top: 0px;
}
.navbar-header{
    background-color: rgb(95, 162, 221);
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
}
.navbar-brand-name, .navbar-nav-name{
    font-family: 'Arial Black', Gadget, sans-serif;
}
.navbar-brand-name{
    font-size: 20px;
}
.navbar-nav-name{
    font-size: 15px;
}
.navbar-nav{
    font-size: 20px;
    line-height: 24px;
}
.nav-home, .navbar-header a{
    color: white !important;
}

.menu-actions, .modal-body .btn {
    float: right;
    font-size: 16px;
}

.clearfix {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
}

table .menu-actions a{
    color: #333;
}

.alert {
    position: fixed;
    top: 10px;
    left: 50%;
}

#meal-name {
    width: 50%;
}